<%= render 'organizations/organization_banner' %>

<div class="site-content-cap">
  <h2 class="site-content-heading">
    Add Task to <%= link_to @assignment.title, [:edit, @assignment.organization, @assignment] %>
  </h2>
</div>

<div class="site-content-body">
  <%= form_for [@assignment.organization, @assignment, @task] do |f| %>
    <%= render partial: 'form_options', locals: { f: f } %>

    <div class="form-actions">
      <%= f.submit class: 'btn btn-green js-navigation' %>
      <%= link_to 'Cancel', [:edit, @assignment.organization, @assignment], class: 'btn', role: 'button' %>
    </div>
  <% end %>
</div>
